Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Updated `IGauge` and `Gauge`
  solidity/contracts/gauges/Gauge.sol
  solidity/contracts/interfaces/IGauge.sol
Due: none

Clarify comments above assertFeesVotingRewardBalance checks
  solidity/system-test/FullEpoch.t.sol
Due: none

Updated tests
  solidity/test/RewardsDistributor.t.sol
Due: none

Added `week` function
  solidity/contracts/RewardsDistributor.sol
  solidity/contracts/interfaces/IRewardsDistributor.sol
Due: none

Updated system test
  solidity/system-test/FullEpoch.t.sol
Due: none

Updated system tests calculation explanation
  solidity/system-test/FullEpoch.t.sol
Due: none

Updated Solidity compiler version to `0.8.24` in all files
  solidity/contracts/forwarder/IForwarder.sol
  solidity/contracts/forwarder/MezoForwarder.sol
  solidity/contracts/governance/IGovernor.sol
  solidity/contracts/governance/IVetoGovernor.sol
  solidity/contracts/governance/IVotes.sol
  solidity/contracts/governance/VetoGovernor.sol
  solidity/contracts/governance/VetoGovernorCountingSimple.sol
  solidity/contracts/governance/VetoGovernorVotes.sol
  solidity/contracts/governance/VetoGovernorVotesQuorumFraction.sol
  solidity/contracts/interfaces/IAutoCompounder.sol
  solidity/contracts/interfaces/IEpochGovernor.sol
  solidity/contracts/interfaces/IMezo.sol
  solidity/contracts/interfaces/IPool.sol
  solidity/contracts/interfaces/IPoolCallee.sol
  solidity/contracts/interfaces/IRewardsDistributor.sol
  solidity/contracts/interfaces/IVeArtProxy.sol
  solidity/contracts/interfaces/factories/IFactoryRegistry.sol
  solidity/contracts/interfaces/factories/IGaugeFactory.sol
  solidity/contracts/interfaces/factories/IManagedRewardsFactory.sol
  solidity/contracts/interfaces/factories/IVotingRewardsFactory.sol
Due: none

Removed unused variable
  solidity/contracts/Mezo.sol
Due: none

Variable renames
  solidity/test/VotingEscrow.t.sol
Due: none

Removed VeArtProxy
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/interfaces/IVeArtProxy.sol
  solidity/contracts/interfaces/IVotingEscrow.sol
  solidity/contracts/ve/NFT.sol
  solidity/contracts/ve/VotingEscrowState.sol
  solidity/test/Base.sol
  solidity/test/VotingEscrow.t.sol
  solidity/test/utils/MockVeArtProxy.sol
Due: none

Fix the `10_create_pools.ts` script
  solidity/deploy/10_create_pools.ts
Due: solidity-lint-ts

Final-ish deployment artifacts
  solidity/.openzeppelin/unknown-31611.json
  solidity/.prettierignore
  solidity/deployments/matsnet/Balance.json
  solidity/deployments/matsnet/BalanceLogicLibrary.json
  solidity/deployments/matsnet/ChainFeeSplitter.json
  solidity/deployments/matsnet/Delegation.json
  solidity/deployments/matsnet/DelegationLogicLibrary.json
  solidity/deployments/matsnet/Escrow.json
  solidity/deployments/matsnet/FactoryRegistry.json
  solidity/deployments/matsnet/GaugeFactory.json
  solidity/deployments/matsnet/ManagedNFT.json
  solidity/deployments/matsnet/ManagedRewardsFactory.json
  solidity/deployments/matsnet/MezoForwarder.json
  solidity/deployments/matsnet/NFT.json
  solidity/deployments/matsnet/Pool.json
  solidity/deployments/matsnet/PoolFactory.json
  solidity/deployments/matsnet/Router.json
  solidity/deployments/matsnet/VeBTC.json
  solidity/deployments/matsnet/VeBTCEpochGovernor.json
  solidity/deployments/matsnet/VeBTCRewardsDistributor.json
  solidity/deployments/matsnet/VeBTCVoter.json
  solidity/deployments/matsnet/VotingRewardsFactory.json
  solidity/deployments/matsnet/solcInputs/40e3d5db7371c0015ce1ab8d3cc7bae4.json
  solidity/deployments/matsnet/solcInputs/8d38669248b61b3eb695f578467cc289.json
  solidity/deployments/matsnet/solcInputs/93ffee4b82794eb73f6b440c3d804873.json
  solidity/deployments/matsnet/solcInputs/d93a02e3dfc6e79ede8d02c7e14b7689.json
  solidity/deployments/matsnet/solcInputs/e46a5fe1a7647fe20def7a26ea4bca9d.json
Due: solidity-lint-config

Updated base contract for unit tests with liquidity
  solidity/test/BaseTest.sol
Due: none

Added missing unit tests for `Gauge`
  solidity/test/Gauge.t.sol
Due: none

Replenished BTC balance for pool owner on test setup
  solidity/test/BaseTest.sol
Due: none

Added missing unit tests for `Pool`
  solidity/test/BaseTest.sol
  solidity/test/Pool.t.sol
Due: none

Added unit tests for `Router`
  solidity/test/Router.t.sol
  solidity/test/utils/MockERC20WithTransferFee.sol
Due: none

Outline of RFC-1: Using veBTC as mUSD collateral
  docs/rfc/rfc-1.md
Due: root-lint

Added unit tests for `Mezo`
  solidity/test/Mezo.t.sol
Due: none

Added test for imbalance
  solidity/test/BaseTest.sol
  solidity/test/Imbalance.t.sol
Due: none

RFC-1: Borrow mUSD against veBTC section
  docs/assets/rfc-1-board.jam
  docs/assets/rfc-1-borrow.png
  docs/rfc/rfc-1.md
Due: root-lint

RFC-1: Participate in Tigris section
  docs/assets/rfc-1-board.jam
  docs/assets/rfc-1-tigris.png
  docs/rfc/rfc-1.md
Due: root-lint

RFC-1: Repay mUSD loan and withdraw veBTC section
  docs/assets/rfc-1-board.jam
  docs/assets/rfc-1-repay.png
  docs/rfc/rfc-1.md
Due: root-lint

RFC-1: Liquidate mUSD loan and seize veBTC section
  docs/assets/rfc-1-board.jam
  docs/assets/rfc-1-liquidate.png
  docs/rfc/rfc-1.md
Due: root-lint

RFC-1: Limitations section
  docs/rfc/rfc-1.md
Due: root-lint

Fix unit tests for `Pool`
  solidity/test/BaseTest.sol
  solidity/test/Pool.t.sol
Due: none

RFC-1: Clarify veBTC ownership during the process
  docs/rfc/rfc-1.md
Due: root-lint

RFC-1: Add a recommendation around upgradeability
  docs/rfc/rfc-1.md
Due: root-lint

Added unit tests for `PoolFees`
  solidity/test/BaseTest.sol
  solidity/test/PoolFees.t.sol
Due: none

Added tests for wash trade
  solidity/test/BaseTest.sol
  solidity/test/WashTrade.t.sol
Due: none

Re-deploy Mezodrome contracts
  solidity/.openzeppelin/unknown-31611.json
  solidity/deployments/matsnet/Balance.json
  solidity/deployments/matsnet/ChainFeeSplitter.json
  solidity/deployments/matsnet/Delegation.json
  solidity/deployments/matsnet/Escrow.json
  solidity/deployments/matsnet/FactoryRegistry.json
  solidity/deployments/matsnet/GaugeFactory.json
  solidity/deployments/matsnet/ManagedNFT.json
  solidity/deployments/matsnet/ManagedRewardsFactory.json
  solidity/deployments/matsnet/MezoForwarder.json
  solidity/deployments/matsnet/NFT.json
  solidity/deployments/matsnet/Pool.json
  solidity/deployments/matsnet/PoolFactory.json
  solidity/deployments/matsnet/Router.json
  solidity/deployments/matsnet/VeBTC.json
  solidity/deployments/matsnet/VeBTCEpochGovernor.json
  solidity/deployments/matsnet/VeBTCRewardsDistributor.json
  solidity/deployments/matsnet/VeBTCVoter.json
  solidity/deployments/matsnet/VotingRewardsFactory.json
  solidity/deployments/matsnet/solcInputs/2799ce436a196df11f1ef308a2a7561c.json
  solidity/deployments/matsnet/solcInputs/40e3d5db7371c0015ce1ab8d3cc7bae4.json
  solidity/deployments/matsnet/solcInputs/d93a02e3dfc6e79ede8d02c7e14b7689.json
  solidity/deployments/matsnet/solcInputs/e46a5fe1a7647fe20def7a26ea4bca9d.json
Due: solidity-lint-config

Added unit tests for zapping
  solidity/test/Zap.t.sol
Due: none

Adjusted unit tests for `Pool`
  solidity/test/Pool.t.sol
Due: none

Rename matsnet/testnet and mUSD/MUSD
  solidity/.env.ci.example
  solidity/.env.example
  solidity/.gitignore
  solidity/deploy/10_create_pools.ts
  solidity/deployments/testnet/.chainId
  solidity/deployments/testnet/Balance.json
  solidity/deployments/testnet/ChainFeeSplitter.json
  solidity/deployments/testnet/Delegation.json
  solidity/deployments/testnet/Escrow.json
  solidity/deployments/testnet/FactoryRegistry.json
  solidity/deployments/testnet/GaugeFactory.json
  solidity/deployments/testnet/ManagedNFT.json
  solidity/deployments/testnet/ManagedRewardsFactory.json
  solidity/deployments/testnet/MezoForwarder.json
  solidity/deployments/testnet/NFT.json
  solidity/deployments/testnet/Pool.json
  solidity/deployments/testnet/PoolFactory.json
  solidity/deployments/testnet/Router.json
  solidity/deployments/testnet/VeBTC.json
  solidity/deployments/testnet/VeBTCEpochGovernor.json
  solidity/deployments/testnet/VeBTCRewardsDistributor.json
  solidity/deployments/testnet/VeBTCVoter.json
  solidity/deployments/testnet/VotingRewardsFactory.json
  solidity/deployments/testnet/solcInputs/2799ce436a196df11f1ef308a2a7561c.json
  solidity/external/testnet/Bitcoin.json
  solidity/external/testnet/LIMPETH.json
  solidity/external/testnet/MUSD.json
  solidity/external/testnet/wtBTC.json
  solidity/hardhat.config.ts
Due: solidity-lint-ts, solidity-lint-config

Support for Mezo mainnet
  solidity/.env.example
  solidity/hardhat.config.ts
  solidity/package.json
Due: solidity-lint-ts, solidity-lint-config

Modify the pool creation script
  solidity/deploy/10_create_pools.ts
  solidity/external/testnet/LIMPETH.json
  solidity/external/testnet/mUSDC.json
  solidity/external/testnet/mUSDT.json
  solidity/external/testnet/wtBTC.json
Due: solidity-lint-ts, solidity-lint-config

Optional gauge creation
  solidity/deploy/10_create_pools.ts
Due: solidity-lint-ts

Put testnet pools addresses into the README
  solidity/README.md
Due: none

Deploy pools on mainnet
  solidity/README.md
  solidity/deployments/mainnet/.chainId
  solidity/deployments/mainnet/Pool.json
  solidity/deployments/mainnet/PoolFactory.json
  solidity/deployments/mainnet/solcInputs/2799ce436a196df11f1ef308a2a7561c.json
  solidity/external/mainnet/Bitcoin.json
  solidity/external/mainnet/MUSD.json
  solidity/external/mainnet/mUSDC.json
  solidity/external/mainnet/mUSDT.json
  solidity/hardhat.config.ts
Due: solidity-lint-ts, solidity-lint-config

Apply formatter
  solidity/deploy/10_create_pools.ts
  solidity/external/testnet/mUSDC.json
  solidity/external/testnet/mUSDT.json
Due: solidity-lint-ts, solidity-lint-config

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
