Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Set up Solidity build
  solidity/.env.ci.example
  solidity/.env.example
  solidity/.eslintignore
  solidity/.eslintrc
  solidity/.gitignore
  solidity/.solhint.json
  solidity/.solhintignore
  solidity/.tsconfig-eslint.json
  solidity/README.md
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/pnpm-lock.yaml
  solidity/slither.config.json
  solidity/tsconfig.json
Due: solidity-lint-ts, solidity-lint-config

Stub missing contracts to get closer to compiling
  solidity/contracts/MezoGovernor.sol
  solidity/contracts/Voter.sol
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/gauges/Gauge.sol
  solidity/contracts/governance/GovernorSimple.sol
  solidity/contracts/interfaces/ICompoundOptimizer.sol
  solidity/contracts/interfaces/IMezo.sol
  solidity/contracts/interfaces/factories/IAutoCompounderFactory.sol
  solidity/contracts/interfaces/factories/IPoolFactory.sol
  solidity/contracts/libraries/TimeLibrary.sol
  solidity/contracts/rewards/Reward.sol
  solidity/package.json
  solidity/pnpm-lock.yaml
Due: solidity-lint-config

Use Solidity 0.8.24
  solidity/contracts/AutoCompounder.sol
  solidity/contracts/CompoundOptimizer.sol
  solidity/contracts/EpochGovernor.sol
  solidity/contracts/Mezo.sol
  solidity/contracts/MezoGovernor.sol
  solidity/contracts/Minter.sol
  solidity/contracts/Pool.sol
  solidity/contracts/PoolFees.sol
  solidity/contracts/RewardsDistributor.sol
  solidity/contracts/Voter.sol
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/factories/AutoCompounderFactory.sol
  solidity/contracts/factories/FactoryRegistry.sol
  solidity/contracts/factories/GaugeFactory.sol
  solidity/contracts/factories/ManagedRewardsFactory.sol
  solidity/contracts/factories/PoolFactory.sol
  solidity/contracts/factories/VotingRewardsFactory.sol
  solidity/contracts/gauges/Gauge.sol
  solidity/contracts/governance/GovernorCountingMajority.sol
  solidity/contracts/governance/GovernorSimple.sol
  solidity/contracts/governance/GovernorSimpleVotes.sol
  solidity/contracts/interfaces/ICompoundOptimizer.sol
  solidity/contracts/interfaces/factories/IAutoCompounderFactory.sol
  solidity/contracts/interfaces/factories/IPoolFactory.sol
  solidity/contracts/libraries/TimeLibrary.sol
  solidity/contracts/rewards/BribeVotingReward.sol
  solidity/contracts/rewards/FeesVotingReward.sol
  solidity/contracts/rewards/FreeManagedReward.sol
  solidity/contracts/rewards/LockedManagedReward.sol
  solidity/contracts/rewards/ManagedReward.sol
  solidity/contracts/rewards/Reward.sol
  solidity/contracts/rewards/VotingReward.sol
Due: none

Add compiler errors and events to IAutoCompounderFactory
  solidity/contracts/interfaces/factories/IAutoCompounderFactory.sol
Due: none

Add remaining errors and events for compilation
  solidity/contracts/interfaces/ICompoundOptimizer.sol
  solidity/contracts/interfaces/factories/IAutoCompounderFactory.sol
  solidity/contracts/interfaces/factories/IPoolFactory.sol
Due: none

No need for a SinkConverter, SinkManager, ...
  solidity/contracts/Mezo.sol
  solidity/contracts/factories/PoolFactory.sol
  solidity/contracts/interfaces/IMezo.sol
  solidity/contracts/interfaces/ISinkManager.sol
  solidity/contracts/interfaces/factories/IPoolFactory.sol
  solidity/contracts/interfaces/v1/IGaugeV1.sol
  solidity/contracts/interfaces/v1/IPairFactoryV1.sol
  solidity/contracts/interfaces/v1/IRewardsDistributorV1.sol
  solidity/contracts/interfaces/v1/IVeloV1.sol
  solidity/contracts/interfaces/v1/IVoterV1.sol
  solidity/contracts/interfaces/v1/IVotingEscrowV1.sol
Due: none

Mark unimplemented contracts as abstract
  solidity/contracts/Voter.sol
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/interfaces/factories/IPoolFactory.sol
Due: none

s/localy/locally/g0
  solidity/contracts/PoolFees.sol
Due: none

Prototype a Mezodrome dApp
  .gitignore
  dapp/README.md
  dapp/app/favicon.ico
  dapp/app/fonts/GeistMonoVF.woff
  dapp/app/fonts/GeistVF.woff
  dapp/app/globals.css
  dapp/app/layout.tsx
  dapp/app/page.tsx
  dapp/app/providers.tsx
  dapp/components.json
  dapp/components/connect-wallet.tsx
  dapp/components/dex.tsx
  dapp/components/incentivize.tsx
  dapp/components/labels.tsx
  dapp/components/liquidity.tsx
  dapp/components/protected-button.tsx
  dapp/components/providers.tsx
  dapp/components/router.ts
  dapp/components/swap.tsx
  dapp/components/types.ts
  dapp/components/ui/alert.tsx
  dapp/components/ui/button.tsx
  dapp/components/ui/card.tsx
  dapp/components/ui/dialog.tsx
  dapp/components/ui/input.tsx
  dapp/components/ui/select.tsx
  dapp/components/ui/tabs.tsx
  dapp/lib/utils.ts
  dapp/lib/wagmi-config.ts
  dapp/next-env.d.ts
  dapp/next.config.ts
  dapp/package.json
  dapp/pnpm-lock.yaml
  dapp/postcss.config.mjs
  dapp/tailwind.config.ts
  dapp/tsconfig.json
Due: root-lint

Split out mocks and lock component, add bazaar/cathedral separation
  dapp/app/bazaar/page.tsx
  dapp/app/layout.tsx
  dapp/app/page.tsx
  dapp/components/dex.tsx
  dapp/components/ui/lock.tsx
  dapp/mocks.ts
Due: root-lint

Link finance/cathedral from bazaar
  dapp/app/bazaar/page.tsx
Due: root-lint

Add bridge placeholder to cathedral
  dapp/app/page.tsx
Due: root-lint

Give some bazaar colors to the bazaar, yolo
  dapp/components/dex.tsx
Due: root-lint

Fix tabs on the cathedral root
  dapp/app/page.tsx
  dapp/components/dex.tsx
Due: root-lint

Show veBTC distribution on the Lock tab
  dapp/app/page.tsx
  dapp/components/dex.tsx
  dapp/components/lock.tsx
  dapp/components/ui/lock.tsx
  dapp/package.json
  dapp/pnpm-lock.yaml
Due: root-lint

Simplify veBTC locking in / and rename to Stake
  dapp/app/bazaar/page.tsx
  dapp/app/layout.tsx
  dapp/app/page.tsx
  dapp/components/lock.tsx
  dapp/components/stake.tsx
  dapp/components/vote.tsx
  dapp/mocks.ts
Due: root-lint

Rename our tabs and remove swaps from Bazaar
  dapp/app/bazaar/page.tsx
  dapp/app/page.tsx
Due: root-lint

Add borrow interfaces in the Cathedral and Bazaar
  dapp/app/bazaar/page.tsx
  dapp/app/page.tsx
  dapp/components/borrow.tsx
  dapp/components/simple-borrow.tsx
Due: root-lint

Add a simple deposit tab to the Cathedral
  dapp/app/page.tsx
  dapp/components/deposit.tsx
  dapp/package.json
  dapp/pnpm-lock.yaml
Due: root-lint

Add settings to the Swap tab
  dapp/components/swap.tsx
Due: root-lint

Reorder tabs to focus on borrowing and staking
  dapp/app/bazaar/page.tsx
  dapp/app/page.tsx
  dapp/components/swap.tsx
Due: root-lint

Fix compile error in alert parameter
  dapp/components/incentivize.tsx
Due: root-lint

Add Cloudflare Pages setup
  dapp/next.config.ts
  dapp/package.json
  dapp/pnpm-lock.yaml
  dapp/wrangler.toml
Due: root-lint

Move Cloudflare Pages setup to next-on-pages/wrangler.toml
  dapp/.nvmrc
  dapp/package.json
  dapp/pnpm-lock.yaml
  dapp/wrangler.toml
Due: root-lint

Set nvmrc version for Cloudflare Pages purposes, new wrangler project name
  .nvmrc
  dapp/wrangler.toml
Due: root-lint

Router base cleaned up
  dapp/pnpm-lock.yaml
  solidity/contracts/Router.sol
  solidity/contracts/factories/PoolFactory.sol
  solidity/contracts/interfaces/factories/IPoolFactory.sol
Due: root-lint

Add prettier fixup to git-blame-ignore-revs
  .git-blame-ignore-revs
Due: root-lint

Include a workspace file for pnpm
  pnpm-workspace.yaml
Due: root-lint

Remove unnecessary environment variables for build
  solidity/.env.example
Due: none

Adapt the GitHub CI flow from mUSD
  .github/workflows/dapp.yml
  .github/workflows/solidity.yml
Due: root-lint

Use pnpm v9.15.1 for CI
  dapp/package.json
  package.json
  solidity/package.json
Due: root-lint, solidity-lint-config

Set up CI build for the dApp
  .github/workflows/dapp.yml
Due: root-lint

Disable the Slither workflow for now
  .github/workflows/solidity.yml
Due: root-lint

Add Mezo matsnet to the hardhat config
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Router implementation and basic tests
  solidity/contracts/Router.sol
  solidity/contracts/interfaces/IBTC.sol
  solidity/contracts/interfaces/IRouter.sol
  solidity/contracts/tests/MockBTC.sol
  solidity/contracts/tests/MockERC20.sol
  solidity/contracts/tests/MockPoolFactory.sol
  solidity/hardhat.config.ts
  solidity/test/Router.test.ts
  solidity/test/fixtures/deployRouter.ts
Due: solidity-lint-ts

Added Hardhat Tenderly configuration
  pnpm-lock.yaml
  solidity/hardhat.config.ts
  solidity/package.json
Due: root-lint, solidity-lint-ts, solidity-lint-config

Cleared up hardhat configuration for hardhat network
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Deployment script for the Pool implementation contract
  solidity/deploy/01_deploy_pool.ts
Due: solidity-lint-ts

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
