Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-ts
        name: "lint solidity ts"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Fix log typo in `08_create_pools.ts`
  solidity/deploy/08_create_pools.ts
Due: solidity-lint-ts

Uppercase logs in `00_resolve_btc.ts`
  solidity/deploy/00_resolve_btc.ts
Due: solidity-lint-ts

Fix pragmas in `IVoter` and `IVotingEscrow`
  solidity/contracts/interfaces/IVoter.sol
  solidity/contracts/interfaces/IVotingEscrow.sol
Due: none

Move the step to create pools further in the execution
  solidity/deploy/08_deploy_ve_btc.ts
  solidity/deploy/09_deploy_ve_btc_voter.ts
  solidity/deploy/10_create_pools.ts
Due: solidity-lint-ts

Implementing IMinter interface
  solidity/contracts/FeeSplitter.sol
  solidity/contracts/interfaces/IFeeSplitterGovernor.sol
Due: none

Pinning to 0.8.24 solidity version
  solidity/contracts/FeeSplitter.sol
Due: none

Minor cleanup
  solidity/contracts/FeeSplitter.sol
Due: none

Router with swaps
  solidity/contracts/Pool.sol
  solidity/contracts/Router.sol
  solidity/contracts/libraries/PoolLibrary.sol
  solidity/test/Router.test.ts
Due: solidity-lint-ts

Create pools and gauges for matsnet
  solidity/deploy/10_create_pools.ts
  solidity/external/matsnet/LIMPETH.json
  solidity/external/matsnet/wtBTC.json
Due: solidity-lint-ts, solidity-lint-config

Improve the order of role updates for VeBTCVoter
  solidity/deploy/12_set_ve_btc_voter_roles.ts
Due: solidity-lint-ts

Redeploying contracts on matsnet
  solidity/deployments/matsnet/BalanceLogicLibrary.json
  solidity/deployments/matsnet/DelegationLogicLibrary.json
  solidity/deployments/matsnet/FactoryRegistry.json
  solidity/deployments/matsnet/GaugeFactory.json
  solidity/deployments/matsnet/ManagedRewardsFactory.json
  solidity/deployments/matsnet/MezoForwarder.json
  solidity/deployments/matsnet/Pool.json
  solidity/deployments/matsnet/PoolFactory.json
  solidity/deployments/matsnet/VeBTC.json
  solidity/deployments/matsnet/VeBTCVoter.json
  solidity/deployments/matsnet/VotingRewardsFactory.json
  solidity/deployments/matsnet/solcInputs/6e51939a73557ccc85605868276db4eb.json
  solidity/deployments/matsnet/solcInputs/b72fdb059cf4bc71c23b26d57a22fc74.json
  solidity/deployments/matsnet/solcInputs/ff5a0ccb3d0d88b62210a9fe38c4030e.json
Due: solidity-lint-config

Implemented upgradeability in veBTC
  solidity/contracts/VeBTC.sol
  solidity/contracts/VotingEscrow.sol
Due: none

Updated deployment for VeBTC
  solidity/deploy/09_deploy_ve_btc.ts
Due: solidity-lint-ts

Fixed formatting issues
  solidity/deploy/08_deploy_ve_btc.ts
Due: solidity-lint-ts

Fix linting issues
  solidity/contracts/VeBTC.sol
  solidity/contracts/VotingEscrow.sol
Due: none

Allowed external library linking
  solidity/deploy/08_deploy_ve_btc.ts
Due: solidity-lint-ts

Changing logic flow in updatedPeriod
  solidity/contracts/FeeSplitter.sol
Due: none

Scripts that deploy FeeSplitter and wire it up with veBTC
  solidity/deploy/11_deploy_rewards_distributor.ts
  solidity/deploy/12_deploy_fee_splitter.ts
  solidity/deploy/13_deploy_epoch_governor.ts
  solidity/deploy/14_set_ve_btc_roles.ts
  solidity/deploy/15_set_ve_btc_voter_roles.ts
  solidity/deploy/16_set_rewards_distributor_roles.ts
Due: solidity-lint-ts

Moved reserved storage gap as the last variable
  solidity/contracts/VotingEscrow.sol
Due: none

Adjust deployment tests
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Removing calculateGrowth() from IMinter
  solidity/contracts/Minter.sol
  solidity/contracts/interfaces/IMinter.sol
Due: none

Add Foundry
  .gitmodules
  .prettierignore
  pnpm-lock.yaml
  solidity/.eslintignore
  solidity/.gitignore
  solidity/.prettierignore
  solidity/.solhintignore
  solidity/foundry.toml
  solidity/hardhat.config.ts
  solidity/package.json
Due: root-lint, solidity-lint-ts, solidity-lint-config

Optimizations around gas
  solidity/contracts/FeeSplitter.sol
Due: none

Add `Base.sol` and `BaseTest.sol`
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
Due: none

Remove mainnet fork mode from unit tests
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
Due: none

Add BTC as test ERC20 token
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
Due: none

Remove AirdropDistributor
  solidity/test/Base.sol
Due: none

Remove VeArtProxy
  solidity/test/Base.sol
Due: none

Remove WETH
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
Due: none

Replace GSN Forwarder with MezoForwarder
  solidity/test/Base.sol
Due: none

Replace ProtocolGovernor with MezoGovernor
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
Due: none

Add necessary utils
  solidity/test/utils/MockERC20.sol
  solidity/test/utils/SigUtils.sol
  solidity/test/utils/TestOwner.sol
Due: none

Set solc version to 0.8.24 everywhere and point it from Foundry
  solidity/contracts/Router.sol
  solidity/foundry.toml
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
  solidity/test/utils/MockERC20.sol
  solidity/test/utils/SigUtils.sol
  solidity/test/utils/TestOwner.sol
Due: none

Final adjustments to the Foundry test fixture
  solidity/.gitignore
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
Due: none

Run Foundry test as part of `pnpm test`
  solidity/package.json
Due: solidity-lint-config

Unit tests for the MezoForwarder
  solidity/test/Forwarder.t.sol
  solidity/test/utils/ERC2771Helper.sol
Due: none

Add Foundry to the CI workflow
  .github/workflows/solidity.yml
Due: root-lint

Better integration of Foundry with our CI
  .github/workflows/solidity.yml
  solidity/package.json
Due: root-lint, solidity-lint-config

Mention Foundry installation in the README
  solidity/README.md
Due: none

Another round of CI adjustments regarding Foundry
  .github/workflows/solidity.yml
Due: root-lint
