Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Abstracting Fee Splitter functionality
  solidity/contracts/ChainFeeSplitter.sol
  solidity/contracts/Splitter.sol
  solidity/test/Deployment.test.ts
Due: solidity-lint-ts

Moving rewardsDistributor back to ChainFeeSplitter
  solidity/contracts/ChainFeeSplitter.sol
  solidity/contracts/Splitter.sol
Due: none

Linting - moving internal functions at the bottom
  solidity/contracts/Splitter.sol
Due: none

Moving epochGovernor function dowstream from Splitter
  solidity/contracts/ChainFeeSplitter.sol
  solidity/contracts/Splitter.sol
Due: none

Linting
  solidity/contracts/ChainFeeSplitter.sol
  solidity/contracts/Splitter.sol
Due: none

Added getter functions
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Delegation.sol
  solidity/contracts/libraries/Escrow.sol
  solidity/contracts/libraries/ManagedNFT.sol
  solidity/contracts/libraries/NFT.sol
  solidity/contracts/libraries/VotingEscrowState.sol
  solidity/foundry.toml
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Cleaned imports
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Delegation.sol
  solidity/contracts/libraries/Escrow.sol
  solidity/contracts/libraries/ManagedNFT.sol
  solidity/contracts/libraries/NFT.sol
  solidity/contracts/libraries/VotingEscrowState.sol
Due: none

Fixed linting issues
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Delegation.sol
  solidity/contracts/libraries/Escrow.sol
  solidity/contracts/libraries/ManagedNFT.sol
  solidity/contracts/libraries/NFT.sol
  solidity/contracts/libraries/VotingEscrowState.sol
Due: none

Improve docs for Splitter contract
  solidity/contracts/Splitter.sol
Due: none

Simplified usage of libraries
  solidity/contracts/libraries/Delegation.sol
  solidity/contracts/libraries/Escrow.sol
  solidity/contracts/libraries/ManagedNFT.sol
  solidity/contracts/libraries/NFT.sol
Due: none

Abstracting nudge() and part of updatePeriod()
  solidity/contracts/ChainFeeSplitter.sol
  solidity/contracts/Splitter.sol
Due: none

Removed `DelegationLogicLibrary`
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Delegation.sol
  solidity/contracts/libraries/DelegationLogicLibrary.sol
Due: none

Refactored `BalanceLogicLibrary`
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Balance.sol
  solidity/contracts/libraries/ManagedNFT.sol
Due: none

Updated VeBTC deployment
  solidity/deploy/08_deploy_ve_btc.ts
Due: solidity-lint-ts

Introduce the `BaseSystemTest` contract
  solidity/system-test/BaseSystemTest.sol
Due: none

System test deployment assertions
  solidity/system-test/Deployment.t.sol
Due: none

Remove Hardhat deployment tests
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

System tests trigger
  solidity/foundry.toml
  solidity/package.json
  solidity/system-test/run.sh
Due: solidity-lint-config

Add system tests to the CI workload
  .github/workflows/solidity.yml
Due: root-lint

Fixed stack-too-deep errors
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Delegation.sol
  solidity/contracts/libraries/Escrow.sol
  solidity/contracts/libraries/ManagedNFT.sol
  solidity/foundry.toml
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Add node-version-file to all solidity CI jobs
  .github/workflows/solidity.yml
Due: root-lint

Fix assertion error
  solidity/system-test/Deployment.t.sol
Due: none

Extracted setters into the `VotingEscrowState` library
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/NFT.sol
  solidity/contracts/libraries/VotingEscrowState.sol
Due: none

Drafting unit tests for Splitter abstract contract
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
  solidity/test/Splitter.t.sol
  solidity/test/utils/MockSplitter.sol
Due: none

Changed visibility modifier of functions
  solidity/contracts/libraries/Balance.sol
  solidity/contracts/libraries/Escrow.sol
  solidity/contracts/libraries/NFT.sol
Due: none

Moved `supplyAt` into the `Balance` library
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Balance.sol
Due: none

Scaffold the full epoch system test scenario
  solidity/system-test/BaseSystemTest.sol
  solidity/system-test/FullEpoch.t.sol
Due: none

Removed unnecessary TODO
  solidity/contracts/VotingEscrow.sol
Due: none

Moved libraries related to `VotingEscrow` into a common directory
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/ve/Balance.sol
  solidity/contracts/ve/Delegation.sol
  solidity/contracts/ve/Escrow.sol
  solidity/contracts/ve/ManagedNFT.sol
  solidity/contracts/ve/NFT.sol
  solidity/contracts/ve/VotingEscrowState.sol
Due: none

Optimized deployment options
  solidity/deploy/08_deploy_ve_btc.ts
Due: solidity-lint-ts

Moved getting contract address inside a library
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/ve/Delegation.sol
Due: none

Add chain fee splitter nudge voting
  solidity/system-test/FullEpoch.t.sol
Due: none

Simplified code
  solidity/contracts/ve/Escrow.sol
Due: none

Add gauge voting
  solidity/system-test/BaseSystemTest.sol
  solidity/system-test/FullEpoch.t.sol
Due: none

Initialize `ChainFeeSplitter.activePeriod` upon deployment
  solidity/contracts/ChainFeeSplitter.sol
Due: none

Added docstrings for state variables
  solidity/contracts/ve/VotingEscrowState.sol
Due: none

Covering updatePeriod() with tests
  solidity/test/BaseTest.sol
  solidity/test/Splitter.t.sol
  solidity/test/utils/MockSplitter.sol
Due: none

Simplified function
  solidity/contracts/ve/Balance.sol
Due: none

Covering ChainFeeSplitter with tests
  solidity/contracts/ChainFeeSplitter.sol
  solidity/contracts/Splitter.sol
  solidity/test/ChainFeeSplitter.t.sol
Due: none

Add fee distribution
  solidity/system-test/FullEpoch.t.sol
Due: none

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
