Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Don't cache lib dir in CI
  .github/workflows/solidity.yml
Due: root-lint

Use Mezo pools in unit test fixture
  solidity/test/BaseTest.sol
Due: none

Make all test pools unstable
  solidity/test/BaseTest.sol
Due: none

Renaming FeeSplitter -> ChainFeeSplitter
  solidity/contracts/FeeSplitter.sol
Due: none

Updating docs on fee distribution.
  solidity/contracts/FeeSplitter.sol
Due: none

Renaming FeeSplitter -> ChainFeeSplitter
  solidity/contracts/ChainFeeSplitter.sol
Due: none

Make `RewardsDistributor` deployment `VeBTC`-specific
  solidity/deploy/11_deploy_rewards_distributor.ts
  solidity/deploy/11_deploy_ve_btc_rewards_distributor.ts
  solidity/deploy/12_deploy_fee_splitter.ts
  solidity/deploy/14_set_ve_btc_roles.ts
  solidity/deploy/16_set_ve_btc_rewards_distributor_roles.ts
Due: solidity-lint-ts

Make `EpochGovernor` deployment `VeBTC`-specific
  solidity/deploy/13_deploy_ve_btc_epoch_governor.ts
Due: solidity-lint-ts

Rename FeeSplitter to ChainFeeSplitter in deployment scripts
  solidity/deploy/12_deploy_chain_fee_splitter.ts
  solidity/deploy/13_deploy_ve_btc_epoch_governor.ts
  solidity/deploy/15_set_ve_btc_voter_roles.ts
  solidity/deploy/16_set_ve_btc_rewards_distributor_roles.ts
Due: solidity-lint-ts

Adjust deployment fixture and tests
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Set VeBTCEpochGovernor as epochGovernor in VeBTCVoter
  solidity/deploy/15_set_ve_btc_voter_roles.ts
  solidity/test/Deployment.test.ts
Due: solidity-lint-ts

Deployment artifacts
  solidity/deployments/matsnet/ChainFeeSplitter.json
  solidity/deployments/matsnet/VeBTCEpochGovernor.json
  solidity/deployments/matsnet/VeBTCRewardsDistributor.json
  solidity/deployments/matsnet/solcInputs/40e3d5db7371c0015ce1ab8d3cc7bae4.json
  solidity/deployments/matsnet/solcInputs/93ffee4b82794eb73f6b440c3d804873.json
Due: solidity-lint-config

Make formatter happy
  solidity/deployments/matsnet/ChainFeeSplitter.json
  solidity/deployments/matsnet/VeBTCEpochGovernor.json
  solidity/deployments/matsnet/VeBTCRewardsDistributor.json
  solidity/deployments/matsnet/solcInputs/40e3d5db7371c0015ce1ab8d3cc7bae4.json
  solidity/deployments/matsnet/solcInputs/93ffee4b82794eb73f6b440c3d804873.json
Due: solidity-lint-config

Change references to FeeSplitter after it was renamed
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
Due: none

Remove redundant solc settings from foundry.toml
  solidity/foundry.toml
Due: none

Drop license headers from test files
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
  solidity/test/Forwarder.t.sol
  solidity/test/utils/ERC2771Helper.sol
  solidity/test/utils/MockERC20.sol
  solidity/test/utils/SigUtils.sol
  solidity/test/utils/TestOwner.sol
Due: none

Remove unused ETHER constant
  solidity/test/BaseTest.sol
Due: none

Explain Hardhat and Foundry hybrid approach
  solidity/README.md
Due: none

Code comments around Foundry plugin
  solidity/foundry.toml
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Add VotingEscrow unit tests
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
  solidity/test/VotingEscrow.t.sol
  solidity/test/utils/MockVeArtProxy.sol
Due: none

Add Voter unit tests
  solidity/test/Voter.t.sol
Due: none

Add RewardsDistributor unit tests
  solidity/test/RewardsDistributor.t.sol
Due: none

Add PoolFactory unit tests
  solidity/test/PoolFactory.t.sol
Due: none

Renaming IMinter -> ISplitter
  solidity/contracts/ChainFeeSplitter.sol
  solidity/contracts/Minter.sol
  solidity/contracts/Voter.sol
  solidity/contracts/governance/GovernorSimple.sol
  solidity/contracts/interfaces/IMinter.sol
  solidity/contracts/interfaces/ISplitter.sol
Due: none

Removing Minter as it was replaced by ChainFeeSplitter
  solidity/contracts/Minter.sol
Due: none

Renaming minter and variations of minter name to splitter + its variations
  solidity/contracts/EpochGovernor.sol
  solidity/contracts/Voter.sol
  solidity/contracts/governance/GovernorSimple.sol
  solidity/contracts/interfaces/IRewardsDistributor.sol
  solidity/contracts/interfaces/IVoter.sol
  solidity/test/Deployment.test.ts
Due: solidity-lint-ts

Linting only
  solidity/contracts/Voter.sol
Due: none

Add MezoGovernor unit tests
  solidity/test/MezoGovernor.t.sol
Due: none

Add ManagedNft unit tests
  solidity/test/ManagedNft.t.sol
Due: none

Add LockedManagedReward unit tests
  solidity/test/LockedManagedReward.t.sol
Due: none

Add FreeManagedReward unit tests
  solidity/test/FreeManagedReward.t.sol
Due: none

Add FeesVotingReward unit tests
  solidity/test/FeesVotingReward.t.sol
Due: none

Note about mUSD precision in the test fixture
  solidity/test/BaseTest.sol
Due: none

Renaming minter -> splitter in Base.sol
  solidity/test/Base.sol
Due: none

Add FactoryRegistry unit tests
  solidity/test/FactoryRegistry.t.sol
Due: none

Add EpochGovernor unit tests
  solidity/test/EpochGovernor.t.sol
Due: none

Post-merge adjustments
  solidity/test/EpochGovernor.t.sol
  solidity/test/Voter.t.sol
Due: none

Add BribeVotingReward unit tests
  solidity/test/BribeVotingReward.t.sol
Due: none

Split `VotingEscrow` into libraries
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/libraries/Delegation.sol
  solidity/contracts/libraries/DelegationLogicLibrary.sol
  solidity/contracts/libraries/Escrow.sol
  solidity/contracts/libraries/ManagedNFT.sol
  solidity/contracts/libraries/NFT.sol
  solidity/contracts/libraries/VotingEscrowState.sol
Due: none

Adjusting Base.sol with a new ChainFeeSplitter
  solidity/test/Base.sol
Due: none

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
