Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-ts
        name: "lint solidity ts"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

Improve naming in the TokenGrantFactory
  solidity/contracts/grant/TokenGrantFactory.sol
Due: none

Include grant details in the create grant event
  solidity/contracts/grant/TokenGrantFactory.sol
Due: none

Mezo Grant Factory deployment scripts
  solidity/deploy/18_deploy_ve_mezo.ts
  solidity/deploy/19_deploy_token_grant.ts
  solidity/deploy/20_deploy_mezo_grant_factory.ts
Due: solidity-lint-ts

Display gas report after running tests
  solidity/package.json
Due: solidity-lint-config

Add MEZO token artifact
  solidity/deploy/00_resolve_mezo_token.ts
  solidity/external/mainnet/MEZO.json
  solidity/external/testnet/MEZO.json
Due: solidity-lint-ts, solidity-lint-config

Update the placeholder script to not fail deployment
  solidity/deploy/18_deploy_ve_mezo.ts
Due: solidity-lint-ts

Define VestingWalletUpgradeable contract
  solidity/contracts/grant/VestingWalletCliffUpgradeable.sol
  solidity/contracts/grant/VestingWalletUpgradeable.sol
Due: none

Revoke only unvested tokens
  solidity/contracts/grant/TokenGrant.sol
  solidity/test/TokenGrant.t.sol
Due: none

WIP Revoke in Voting Escrow
  solidity/contracts/ve/Escrow.sol
Due: none

Add mitigations for the VP inflation loop
  docs/rfc/rfc-1.md
Due: root-lint

Set the default needle in the fee splitter to 60:40
  solidity/contracts/ChainFeeSplitter.sol
  solidity/deploy/12_deploy_chain_fee_splitter.ts
  solidity/test/Base.sol
  solidity/test/Pool.t.sol
Due: solidity-lint-ts

30-day maximum locktime for veBTC
  solidity/contracts/VeBTC.sol
  solidity/contracts/VeMEZO.sol
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/ve/Escrow.sol
  solidity/contracts/ve/ManagedNFT.sol
  solidity/contracts/ve/VotingEscrowState.sol
  solidity/deploy/08_deploy_ve_btc.ts
  solidity/test/Base.sol
  solidity/test/Imbalance.t.sol
  solidity/test/Pool.t.sol
  solidity/test/WashTrade.t.sol
Due: solidity-lint-ts

Redeploy veBTC and friends on Mezo Testnet
  solidity/.openzeppelin/unknown-31611.json
  solidity/README.md
  solidity/deployments/testnet/Balance.json
  solidity/deployments/testnet/ChainFeeSplitter.json
  solidity/deployments/testnet/Delegation.json
  solidity/deployments/testnet/Escrow.json
  solidity/deployments/testnet/Grant.json
  solidity/deployments/testnet/ManagedNFT.json
  solidity/deployments/testnet/NFT.json
  solidity/deployments/testnet/VeBTC.json
  solidity/deployments/testnet/VeBTCEpochGovernor.json
  solidity/deployments/testnet/VeBTCRewardsDistributor.json
  solidity/deployments/testnet/VeBTCVoter.json
  solidity/deployments/testnet/solcInputs/8fa39d1f75a81de120cc40b3f4adb866.json
  solidity/deployments/testnet/solcInputs/ba27fe5e205cd6b887b14614de0cce2b.json
Due: solidity-lint-config

Deploy veBTC and friends on Mezo Mainnet
  solidity/.openzeppelin/unknown-31612.json
  solidity/README.md
  solidity/deployments/mainnet/Balance.json
  solidity/deployments/mainnet/ChainFeeSplitter.json
  solidity/deployments/mainnet/Delegation.json
  solidity/deployments/mainnet/Escrow.json
  solidity/deployments/mainnet/Grant.json
  solidity/deployments/mainnet/ManagedNFT.json
  solidity/deployments/mainnet/NFT.json
  solidity/deployments/mainnet/VeBTC.json
  solidity/deployments/mainnet/VeBTCEpochGovernor.json
  solidity/deployments/mainnet/VeBTCRewardsDistributor.json
  solidity/deployments/mainnet/VeBTCVoter.json
  solidity/deployments/mainnet/solcInputs/8fa39d1f75a81de120cc40b3f4adb866.json
  solidity/deployments/mainnet/solcInputs/ba27fe5e205cd6b887b14614de0cce2b.json
Due: solidity-lint-config

Set up the fee splitter maintiner for Tigris
  infrastructure/cloudflare/fee-splitter/.env.example
  infrastructure/cloudflare/fee-splitter/.eslintignore
  infrastructure/cloudflare/fee-splitter/.eslintrc
  infrastructure/cloudflare/fee-splitter/.prettierignore
  infrastructure/cloudflare/fee-splitter/.tsconfig-eslint.json
  infrastructure/cloudflare/fee-splitter/README.md
  infrastructure/cloudflare/fee-splitter/package.json
  infrastructure/cloudflare/fee-splitter/src/types.ts
  infrastructure/cloudflare/fee-splitter/tsconfig.json
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: root-lint

Define Mezo chains as viem chain object
  infrastructure/cloudflare/fee-splitter/src/chain.ts
Due: root-lint

Add function to create viem wallet client
  infrastructure/cloudflare/fee-splitter/src/context.ts
Due: root-lint

Add `ChainFeeSpliter` abi and addresses
  infrastructure/cloudflare/fee-splitter/src/abis/ChainFeeSplitter.ts
Due: root-lint

Implement cron task
  infrastructure/cloudflare/fee-splitter/src/index.ts
  infrastructure/cloudflare/fee-splitter/src/split-rewards.ts
Due: root-lint

Add comment to cron definition
  infrastructure/cloudflare/fee-splitter/src/index.ts
Due: root-lint

Update README file
  infrastructure/cloudflare/fee-splitter/README.md
  infrastructure/cloudflare/fee-splitter/package.json
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Add empty line at the end of the file
  infrastructure/cloudflare/fee-splitter/.env.example
  infrastructure/cloudflare/fee-splitter/.eslintignore
  infrastructure/cloudflare/fee-splitter/.prettierignore
  pnpm-workspace.yaml
Due: root-lint

Fix typo in README file
  infrastructure/cloudflare/fee-splitter/README.md
Due: root-lint

Improve executing `updatePeriod` function
  infrastructure/cloudflare/fee-splitter/src/context.ts
  infrastructure/cloudflare/fee-splitter/src/split-rewards.ts
Due: root-lint

Add KV
  infrastructure/cloudflare/fee-splitter/src/split-rewards.ts
  infrastructure/cloudflare/fee-splitter/src/types.ts
  infrastructure/cloudflare/fee-splitter/src/update-period-tracker.ts
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Expose `/metrics` endpoint for Prometheus
  infrastructure/cloudflare/fee-splitter/src/index.ts
Due: root-lint

Add `.wrangler` dir to the gitignore filie
  .gitignore
Due: root-lint

Fix the `splitRewards` function
  infrastructure/cloudflare/fee-splitter/src/context.ts
  infrastructure/cloudflare/fee-splitter/src/split-rewards.ts
Due: root-lint

Fix `metrics` endpoint
  infrastructure/cloudflare/fee-splitter/src/index.ts
  infrastructure/cloudflare/fee-splitter/src/update-period-tracker.ts
Due: root-lint

Update the cron definition
  infrastructure/cloudflare/fee-splitter/src/index.ts
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Enable Workers Logs in the fee-splitter worker
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Set up KV namespaces for environments
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Update route config in fee-splitter worker
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Improve the fee splitter maintainer
  infrastructure/cloudflare/fee-splitter/src/abis/ChainFeeSplitter.ts
  infrastructure/cloudflare/fee-splitter/src/fee-splitter.ts
  infrastructure/cloudflare/fee-splitter/src/index.ts
  infrastructure/cloudflare/fee-splitter/src/update-period-tracker.ts
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Update cron in fee splitter maintainer
  infrastructure/cloudflare/fee-splitter/src/index.ts
  infrastructure/cloudflare/fee-splitter/wrangler.jsonc
Due: root-lint

Fix linting errors
  infrastructure/cloudflare/fee-splitter/src/fee-splitter.ts
  infrastructure/cloudflare/fee-splitter/src/index.ts
Due: root-lint
