Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Root
      - id: root-lint
        name: "lint root"
        entry: /usr/bin/env bash -c "npm run format"
        exclude: (^solidity/)
        language: script
        description: "Checks code according to the package's linter configuration"
      # Solidity
      - id: solidity-lint-sol
        name: "lint solidity sol"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:sol"
        files: ^solidity/
        types: [solidity]
        language: script
        description: "Checks solidity code according to the package's linter configuration"
      - id: solidity-lint-ts
        name: "lint solidity ts"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
        files: ^solidity/
        types_or: [ts, javascript]
        language: script
        description: "Checks TS code according to the package's linter configuration"
      - id: solidity-lint-config
        name: "lint solidity json/yaml"
        entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
        files: ^solidity/
        types_or: [json, yaml]
        language: script
        description: "Checks JSON/YAML code according to the package's linter configuration"

TODO about refactoring artifacts publication
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Fix CI env
  solidity/.env.ci.example
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Remove direct `Voter` dependency from the `Router`
  solidity/contracts/Router.sol
  solidity/deploy/17_deploy_router.ts
  solidity/test/Base.sol
  solidity/test/Imbalance.t.sol
  solidity/test/Pool.t.sol
  solidity/test/Router.t.sol
  solidity/test/WashTrade.t.sol
  solidity/test/Zap.t.sol
Due: solidity-lint-ts

Apply formatter
  solidity/deploy/17_deploy_router.ts
Due: solidity-lint-ts

Deploy `Router` on mainnet
  solidity/README.md
  solidity/deployments/mainnet/FactoryRegistry.json
  solidity/deployments/mainnet/GaugeFactory.json
  solidity/deployments/mainnet/ManagedRewardsFactory.json
  solidity/deployments/mainnet/MezoForwarder.json
  solidity/deployments/mainnet/Router.json
  solidity/deployments/mainnet/VotingRewardsFactory.json
  solidity/deployments/mainnet/solcInputs/6eb2a61a7d9381df4341f3ceb294b780.json
Due: solidity-lint-config

Adjust system tests to the recent `voter` change in the `Router`
  solidity/system-test/Deployment.t.sol
Due: none

Rename Mezodrome to Tigris
  README.md
  dapp/app/bazaar/page.tsx
  dapp/components/deposit.tsx
  dapp/components/stake.tsx
  dapp/lib/wagmi-config.ts
  dapp/wrangler.toml
  package.json
  solidity/contracts/AutoCompounder.sol
Due: root-lint

veMEZO token contract
  solidity/contracts/VeMEZO.sol
Due: none

TokenGrant contract groundworks
  solidity/contracts/grant/TokenGrant.sol
Due: none

Run format:fix
  .github/workflows/solidity.yml
  solidity/.openzeppelin/unknown-31611.json
  solidity/system-test/BaseSystemTest.sol
  solidity/system-test/Deployment.t.sol
  solidity/system-test/FullEpoch.t.sol
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
  solidity/test/BribeVotingReward.t.sol
  solidity/test/ChainFeeSplitter.t.sol
  solidity/test/EpochGovernor.t.sol
  solidity/test/FactoryRegistry.t.sol
  solidity/test/FeesVotingReward.t.sol
  solidity/test/Forwarder.t.sol
  solidity/test/FreeManagedReward.t.sol
  solidity/test/Gauge.t.sol
  solidity/test/Imbalance.t.sol
  solidity/test/LockedManagedReward.t.sol
  solidity/test/ManagedNft.t.sol
  solidity/test/MezoGovernor.t.sol
  solidity/test/Pool.t.sol
  solidity/test/PoolFees.t.sol
  solidity/test/RewardsDistributor.t.sol
  solidity/test/Router.t.sol
  solidity/test/Splitter.t.sol
  solidity/test/Voter.t.sol
  solidity/test/VotingEscrow.t.sol
  solidity/test/WashTrade.t.sol
  solidity/test/Zap.t.sol
  solidity/test/utils/MockERC20.sol
  solidity/test/utils/MockERC20WithTransferFee.sol
  solidity/test/utils/MockEpochGovernor.sol
  solidity/test/utils/SigUtils.sol
  solidity/test/utils/TestSplitter.sol
Due: root-lint, solidity-lint-config

Capture the vesting end and the grant manager in the veNFT
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/grant/TokenGrant.sol
  solidity/contracts/interfaces/IVotingEscrow.sol
  solidity/contracts/ve/Grant.sol
  solidity/contracts/ve/VotingEscrowState.sol
  solidity/test/BaseTest.sol
  solidity/test/Grant.t.sol
Due: none

Block merging veNFTs created for unvested grants
  solidity/contracts/interfaces/IVotingEscrow.sol
  solidity/contracts/ve/Escrow.sol
  solidity/test/Grant.t.sol
Due: none

Block splitting veNFT created for unvested grants
  solidity/contracts/ve/Escrow.sol
  solidity/test/Grant.t.sol
Due: none

Link Grant library to veBTC in the deployment script
  solidity/deploy/08_deploy_ve_btc.ts
Due: solidity-lint-ts

Ignore universal-ctags tags files
  .gitignore
Due: root-lint

Add a check to msg.data.length to prevent underflows
  solidity/contracts/ve/VeERC2771Context.sol
Due: none

Add `contractVersion` to the domain typehash
  solidity/contracts/ve/Delegation.sol
Due: none

Add VestingWalletCliffUpgradeable contract
  solidity/contracts/grant/TokenGrant.sol
  solidity/contracts/grant/VestingWalletCliffUpgradeable.sol
Due: none

Link Escrow library with Grant library
  solidity/deploy/08_deploy_ve_btc.ts
Due: solidity-lint-ts

Fix openzeppelin import
  solidity/contracts/grant/VestingWalletCliffUpgradeable.sol
Due: none

Remove unnecessary override specifier from TokenGrant contract
  solidity/contracts/grant/TokenGrant.sol
Due: none

Final implementation for TokenGrant.convert and unit tests
  solidity/contracts/grant/TokenGrant.sol
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
  solidity/test/TokenGrant.t.sol
  solidity/test/VeGrant.t.sol
Due: none

Do not allow creating TokenGrant for more than 4 years
  solidity/contracts/grant/TokenGrant.sol
  solidity/test/TokenGrant.t.sol
Due: none

Check if grant is already released before converting
  solidity/contracts/grant/TokenGrant.sol
Due: none

Fix released check in TokenGrant contract
  solidity/contracts/grant/TokenGrant.sol
Due: none

Update TokenGrant tests to include cliff seconds parameter
  solidity/test/TokenGrant.t.sol
Due: none

Generate fresh address for grant manager in tests
  solidity/test/BaseTest.sol
Due: none

Emit Converted event when converting grant
  solidity/contracts/grant/TokenGrant.sol
  solidity/test/TokenGrant.t.sol
Due: none

Define beneficiary in tests as unique address
  solidity/test/TokenGrant.t.sol
Due: none

Revoke Token Grant
  solidity/contracts/grant/TokenGrant.sol
  solidity/test/TokenGrant.t.sol
Due: none

Re-deploy MUSD pools
  solidity/README.md
  solidity/deployments/testnet/PoolFactory.json
  solidity/deployments/testnet/Router.json
  solidity/deployments/testnet/solcInputs/6eb2a61a7d9381df4341f3ceb294b780.json
  solidity/external/testnet/MUSD.json
Due: solidity-lint-config

Introduce non-revocable grants
  solidity/contracts/grant/TokenGrant.sol
  solidity/test/TokenGrant.t.sol
Due: none

WIP Token Grant Factory
  solidity/contracts/grant/TokenGrantFactory.sol
  solidity/test/TokenGrant.t.sol
Due: none

Add TokenGrantFactory test
  solidity/test/Base.sol
  solidity/test/BaseTest.sol
  solidity/test/TokenGrantFactory.test.sol
  solidity/test/utils/TestTokenGrantV2.sol
Due: none
