Repository mezo-org/tigris: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-lint, solidity-lint-ts, solidity-lint-config

root-lint:
  name: lint root
  entry: /usr/bin/env bash -c "npm run format"
  language: script
  description: Checks code according to the package's linter configuration

solidity-lint-ts:
  name: lint solidity ts
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:ts"
  language: script
  description: Checks TS code according to the package's linter configuration

solidity-lint-config:
  name: lint solidity json/yaml
  entry: /usr/bin/env bash -c "npm --prefix ./solidity/ run lint:config"
  language: script
  description: Checks JSON/YAML code according to the package's linter configuration

Deployment script for the PoolFactory contract
  solidity/deploy/02_deploy_pool_factory.ts
Due: solidity-lint-ts

Git-ignore all deployment artifacts but matsnet artifacts
  solidity/.gitignore
Due: none

Basic deployment test
  solidity/deploy/02_deploy_pool_factory.ts
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Contract verification code for matsnet
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Matsnet deployment artifacts for Pool and PoolFactory
  solidity/deployments/matsnet/.chainId
  solidity/deployments/matsnet/Pool.json
  solidity/deployments/matsnet/PoolFactory.json
  solidity/deployments/matsnet/solcInputs/ff5a0ccb3d0d88b62210a9fe38c4030e.json
Due: solidity-lint-config

Do not redeploy Pool or PoolFactory if already deployed
  solidity/deploy/01_deploy_pool.ts
  solidity/deploy/02_deploy_pool_factory.ts
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Deployment script for the GaugeFactory
  solidity/deploy/03_deploy_gauge_factory.ts
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Matsnet deployment artifact for GaugeFactory
  solidity/deployments/matsnet/GaugeFactory.json
  solidity/deployments/matsnet/Pool.json
  solidity/deployments/matsnet/PoolFactory.json
  solidity/deployments/matsnet/solcInputs/ff5a0ccb3d0d88b62210a9fe38c4030e.json
Due: solidity-lint-config

Deployment script for the VotingRewardsFactory
  solidity/deploy/04_deploy_voting_rewards_factory.ts
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Matsnet deployment artifact for the VotingRewardsFactory
  solidity/deployments/matsnet/VotingRewardsFactory.json
Due: solidity-lint-config

Deployment script for the ManagedRewardsFactory
  solidity/deploy/05_deploy_managed_rewards_factory.ts
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Deployment script for the FactoryRegistry
  solidity/deploy/05_deploy_managed_rewards_factory.ts
  solidity/deploy/06_deploy_factory_registry.ts
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Left TODO about PoolFactory initial fees
  solidity/deploy/02_deploy_pool_factory.ts
Due: solidity-lint-ts

Matsnet deployment artifacts for FactoryRegistry and ManagedRewardsFactory
  solidity/deployments/matsnet/FactoryRegistry.json
  solidity/deployments/matsnet/ManagedRewardsFactory.json
Due: solidity-lint-config

Make it clear the 01 deployment step deploys Pool implementation
  solidity/deploy/01_deploy_pool_implementation.ts
Due: solidity-lint-ts

Remove Tenderly calls from the deployment scripts
  pnpm-lock.yaml
  solidity/deploy/01_deploy_pool_implementation.ts
  solidity/deploy/02_deploy_pool_factory.ts
  solidity/deploy/03_deploy_gauge_factory.ts
  solidity/deploy/04_deploy_voting_rewards_factory.ts
  solidity/deploy/05_deploy_managed_rewards_factory.ts
  solidity/deploy/06_deploy_factory_registry.ts
  solidity/hardhat.config.ts
  solidity/package.json
Due: root-lint, solidity-lint-ts, solidity-lint-config

Demystify Blockscout contract verification
  solidity/deploy/01_deploy_pool_implementation.ts
  solidity/deploy/02_deploy_pool_factory.ts
  solidity/deploy/03_deploy_gauge_factory.ts
  solidity/deploy/04_deploy_voting_rewards_factory.ts
  solidity/deploy/05_deploy_managed_rewards_factory.ts
  solidity/deploy/06_deploy_factory_registry.ts
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Set the initial pool fees in the PoolFactory deployed
  solidity/deploy/02_deploy_pool_factory.ts
Due: solidity-lint-ts

Mezo Forwarder contract implementation
  solidity/contracts/forwarder/IForwarder.sol
  solidity/contracts/forwarder/MezoForwarder.sol
Due: none

Deployment script for the MezoForwarder contract
  solidity/deploy/07_deploy_mezo_forwarder.ts
Due: solidity-lint-ts

Matsnet deployment artifacts for the MezoForwarder
  solidity/deployments/matsnet/MezoForwarder.json
  solidity/deployments/matsnet/solcInputs/b72fdb059cf4bc71c23b26d57a22fc74.json
Due: solidity-lint-config

Scaffolding veBTC
  solidity/contracts/VeBTC.sol
  solidity/contracts/VotingEscrow.sol
Due: none

Deployment step to create BTC-mUSD pool
  solidity/deploy/08_create_pools.ts
  solidity/external/matsnet/Bitcoin.json
  solidity/external/matsnet/mUSD.json
Due: solidity-lint-ts, solidity-lint-config

Do not create pools for hardhat network
  solidity/deploy/08_create_pools.ts
Due: solidity-lint-ts

VotingEscrow and related components
  solidity/contracts/VeBTC.sol
  solidity/contracts/VotingEscrow.sol
  solidity/contracts/interfaces/IVotingEscrow.sol
  solidity/contracts/libraries/BalanceLogicLibrary.sol
  solidity/contracts/libraries/DelegationLogicLibrary.sol
  solidity/contracts/libraries/SafeCastLibrary.sol
Due: none

Drafting FeeSplitter contract
  solidity/contracts/FeeSplitter.sol
  solidity/contracts/interfaces/IFeeSplitterGovernor.sol
Due: none

Voter contract
  solidity/contracts/Voter.sol
  solidity/contracts/interfaces/IVoter.sol
Due: none

Adding updatePeriod(). Can be changed once a week.
  solidity/contracts/FeeSplitter.sol
Due: none

Linting
  solidity/contracts/FeeSplitter.sol
Due: none

Deployment scripts for veBTC and its Voter
  solidity/contracts/test/TestERC20.sol
  solidity/deploy/00_resolve_btc.ts
  solidity/deploy/08_create_pools.ts
  solidity/deploy/09_deploy_ve_btc.ts
  solidity/deploy/10_deploy_ve_btc_voter.ts
  solidity/deploy/11_set_ve_btc_roles.ts
  solidity/deploy/12_set_ve_btc_voter_roles.ts
  solidity/hardhat.config.ts
  solidity/test/Deployment.test.ts
  solidity/test/fixtures/deployMezodrome.ts
Due: solidity-lint-ts

Add missing `return` in the `00_resolve_btc.ts` script
  solidity/deploy/00_resolve_btc.ts
Due: solidity-lint-ts

Add missing external libraries to `09_deploy_ve_btc.ts` script
  solidity/deploy/09_deploy_ve_btc.ts
Due: solidity-lint-ts

Execute `Voter.setEpochGovernor` as governance not deployer
  solidity/deploy/12_set_ve_btc_voter_roles.ts
Due: solidity-lint-ts

VeBTC and VeBTCVoter deployment artifacts
  solidity/deployments/matsnet/BalanceLogicLibrary.json
  solidity/deployments/matsnet/DelegationLogicLibrary.json
  solidity/deployments/matsnet/VeBTC.json
  solidity/deployments/matsnet/VeBTCVoter.json
Due: solidity-lint-config

Fix formatter errors
  solidity/deployments/matsnet/BalanceLogicLibrary.json
  solidity/deployments/matsnet/DelegationLogicLibrary.json
  solidity/deployments/matsnet/VeBTC.json
  solidity/deployments/matsnet/VeBTCVoter.json
Due: solidity-lint-config

Push the new solcInput after Matsnet deployment of VeBTC
  solidity/deployments/matsnet/solcInputs/1323dd419c1f876af4efeebab361c06a.json
Due: solidity-lint-config

Revert with a meaningful error from RewardsDistributor.checkpointToken()
  solidity/contracts/RewardsDistributor.sol
Due: none

Add missing pragma to `Voter`
  solidity/contracts/Voter.sol
Due: none

Modified compilation optimizer to reduce deployed contract size
  solidity/hardhat.config.ts
Due: solidity-lint-ts

Adjust licenses for `VotingEscrow` and `Voter`
  solidity/contracts/Voter.sol
  solidity/contracts/VotingEscrow.sol
Due: none

Path conditions:
  root-lint: any file but: (^solidity/)
  solidity-lint-ts: any of: ^solidity/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  solidity-lint-config: any of: ^solidity/ and \.json$, \.(yaml|yml)$
